body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    height: 300px;
    width: 300px;
    justify-content: center;
    gap: 10px;
}
.cells{
    background-color: rgb(58, 50, 50);
}
.winner{
    text-align: center;
    display: flex;
    flex-direction: column;
    grid-area: 4/ 1/ 5/ 4;
}
.header{
    margin-bottom:50px;
}

.blue,.green{
    width: 20px;
    height: 20px;
}
.blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.top{
    text-align: center;
    margin-bottom: 30px;
}
.footer{
    margin-top:50px;
}