body{
    display: flex;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    height: 300px;
    width: 300px;
    justify-content: center;
    gap: 10px;
}
.cells{
    background-color: red;
}
h1{
    text-align: center;
    grid-area: 4/ 1/ 5/ 4;

}