

.cells{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: red;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto
}
.row1, .row2, .row3{
    display: flex;
    gap: 10px;
}